{
  "openapi": "3.1.0",
  "info": {
    "title": "Mistvale Admin API",
    "version": "0.1.0-ea.0",
    "description": "The Admin API the Mistvale Admin Suite consumes, plus the public content bundle it previews. Generated from the Zod contracts in @mistvale/shared — edit those, then run `pnpm openapi`."
  },
  "servers": [
    {
      "url": "https://play.pathlands.cc",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "admin",
      "description": "Admin Suite endpoints. Require the admin rank."
    },
    {
      "name": "content",
      "description": "Public content delivery."
    }
  ],
  "components": {
    "schemas": {
      "AccountSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "rank": {
            "type": "string",
            "enum": [
              "player",
              "gamemaster",
              "admin"
            ]
          },
          "forcePasswordChange": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "accountName",
          "rank",
          "forcePasswordChange"
        ],
        "additionalProperties": false
      },
      "AdminLoginResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountSummary"
          }
        },
        "required": [
          "account"
        ],
        "additionalProperties": false
      },
      "AdminLogoutResponse": {
        "type": "object",
        "properties": {
          "loggedOut": {
            "type": "boolean"
          }
        },
        "required": [
          "loggedOut"
        ],
        "additionalProperties": false
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountSummary"
          }
        },
        "required": [
          "account"
        ],
        "additionalProperties": false
      },
      "AdminOverview": {
        "type": "object",
        "properties": {
          "players": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "bots": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "activeToday": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "total",
              "bots",
              "activeToday"
            ],
            "additionalProperties": false
          },
          "accounts": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "admins": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "banned": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "total",
              "admins",
              "banned"
            ],
            "additionalProperties": false
          },
          "content": {
            "type": "object",
            "properties": {
              "rev": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "publishedAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "champions": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "skills": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "enemies": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "stages": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "rev",
              "publishedAt",
              "champions",
              "skills",
              "enemies",
              "stages"
            ],
            "additionalProperties": false
          },
          "recentAudit": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEntry"
            }
          }
        },
        "required": [
          "players",
          "accounts",
          "content",
          "recentAudit"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "AUTH_REQUIRED",
              "FORBIDDEN",
              "VALIDATION",
              "INVALID_CREDENTIALS",
              "ALREADY_EXISTS",
              "NOT_FOUND",
              "INSUFFICIENT_FUNDS",
              "ENERGY_LOW",
              "ROSTER_FULL",
              "COOLDOWN",
              "LOCKED_CONTENT",
              "IDEMPOTENT_REPLAY",
              "RATE_LIMITED",
              "CONTENT_STALE",
              "ACCOUNT_BANNED",
              "PASSWORD_CHANGE_REQUIRED",
              "INTERNAL"
            ]
          },
          "message": {
            "type": "string"
          },
          "details": {},
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false
      },
      "AssetDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "kind": {
            "type": "string",
            "enum": [
              "unit",
              "vfx",
              "ui",
              "audio"
            ]
          },
          "source": {
            "default": "repo",
            "type": "string",
            "enum": [
              "repo",
              "upload"
            ]
          },
          "basePath": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "tracks": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "object",
              "properties": {
                "frames": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 64
                },
                "fps": {
                  "default": 9,
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 30
                },
                "loop": {
                  "default": false,
                  "type": "boolean"
                }
              },
              "required": [
                "frames",
                "fps",
                "loop"
              ],
              "additionalProperties": false
            }
          },
          "stillPath": {
            "default": "",
            "type": "string",
            "maxLength": 200
          },
          "avatarPath": {
            "default": "",
            "type": "string",
            "maxLength": 200
          },
          "tint": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          }
        },
        "required": [
          "key",
          "sortOrder",
          "kind",
          "source",
          "basePath",
          "tracks",
          "stillPath",
          "avatarPath"
        ],
        "additionalProperties": false
      },
      "AuditEntry": {
        "type": "object",
        "properties": {
          "actor": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "entityId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "actor",
          "action",
          "entity",
          "entityId",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CampaignChapterDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "number": {
            "type": "integer",
            "minimum": 1,
            "maximum": 24
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "region": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "backgroundAsset": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "setKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "starRewards": {
            "default": [],
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stars": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 252
                },
                "rewards": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "number"
                  }
                }
              },
              "required": [
                "stars",
                "rewards"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "key",
          "sortOrder",
          "number",
          "name",
          "region",
          "lore",
          "backgroundAsset",
          "starRewards"
        ],
        "additionalProperties": false
      },
      "ChampionDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "factionKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "element": {
            "type": "string",
            "enum": [
              "ember",
              "tide",
              "verdant",
              "mist"
            ]
          },
          "rarity": {
            "type": "string",
            "enum": [
              "common",
              "uncommon",
              "rare",
              "epic",
              "legendary"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "attack",
              "defense",
              "hp",
              "support"
            ]
          },
          "baseStats": {
            "type": "object",
            "properties": {
              "hp": {
                "type": "integer",
                "minimum": 100,
                "maximum": 60000
              },
              "atk": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "def": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "spd": {
                "type": "integer",
                "minimum": 50,
                "maximum": 200
              },
              "critRate": {
                "default": 15,
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "critDmg": {
                "default": 50,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "res": {
                "default": 30,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "acc": {
                "default": 0,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              }
            },
            "required": [
              "hp",
              "atk",
              "def",
              "spd",
              "critRate",
              "critDmg",
              "res",
              "acc"
            ],
            "additionalProperties": false
          },
          "skills": {
            "minItems": 1,
            "maxItems": 5,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 64,
              "pattern": "^[a-z][a-z0-9_]*$"
            }
          },
          "aura": {
            "default": null,
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "stat": {
                    "type": "string",
                    "enum": [
                      "hp",
                      "atk",
                      "def",
                      "spd",
                      "critRate",
                      "critDmg",
                      "res",
                      "acc"
                    ]
                  },
                  "value": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "scope": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "all",
                      "element",
                      "faction"
                    ]
                  },
                  "area": {
                    "default": "any",
                    "type": "string",
                    "enum": [
                      "any",
                      "campaign",
                      "arena",
                      "depths"
                    ]
                  }
                },
                "required": [
                  "stat",
                  "value",
                  "scope",
                  "area"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "assetKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "isFood": {
            "default": false,
            "type": "boolean"
          },
          "summonable": {
            "default": true,
            "type": "boolean"
          },
          "starter": {
            "default": false,
            "type": "boolean"
          },
          "balanceVersion": {
            "default": 1,
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "title",
          "lore",
          "factionKey",
          "element",
          "rarity",
          "role",
          "baseStats",
          "skills",
          "aura",
          "assetKey",
          "isFood",
          "summonable",
          "starter",
          "balanceVersion"
        ],
        "additionalProperties": false
      },
      "ContentBundle": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "factions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactionDef"
            }
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDef"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SkillDef"
            }
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetDef"
            }
          },
          "champions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChampionDef"
            }
          },
          "enemies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnemyDef"
            }
          },
          "gearSets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GearSetDef"
            }
          },
          "gearSlots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GearSlotDef"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDef"
            }
          },
          "campaignChapters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignChapterDef"
            }
          },
          "stages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StageDef"
            }
          },
          "config": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                {
                  "type": "array",
                  "items": {}
                }
              ]
            }
          }
        },
        "required": [
          "rev",
          "publishedAt",
          "factions",
          "statuses",
          "skills",
          "assets",
          "champions",
          "enemies",
          "gearSets",
          "gearSlots",
          "items",
          "campaignChapters",
          "stages",
          "config"
        ],
        "additionalProperties": false
      },
      "ContentDiff": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "contentType": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "change": {
                  "type": "string",
                  "enum": [
                    "added",
                    "modified",
                    "removed"
                  ]
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string"
                      },
                      "before": {},
                      "after": {}
                    },
                    "required": [
                      "path",
                      "before",
                      "after"
                    ],
                    "additionalProperties": false
                  }
                },
                "risk": {
                  "type": "string",
                  "enum": [
                    "rates",
                    "balance",
                    "economy"
                  ]
                }
              },
              "required": [
                "contentType",
                "key",
                "change",
                "fields"
              ],
              "additionalProperties": false
            }
          },
          "totals": {
            "$ref": "#/components/schemas/ContentTotals"
          }
        },
        "required": [
          "rev",
          "entries",
          "totals"
        ],
        "additionalProperties": false
      },
      "ContentEntry": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "data": {},
          "state": {
            "type": "string",
            "enum": [
              "live",
              "draft",
              "deleting"
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "key",
          "data",
          "state",
          "updatedAt",
          "updatedBy"
        ],
        "additionalProperties": false
      },
      "ContentRevisionSummary": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publishedAt": {
            "type": "string"
          },
          "publishedBy": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "summary": {
            "$ref": "#/components/schemas/ContentTotals"
          }
        },
        "required": [
          "rev",
          "publishedAt",
          "publishedBy",
          "note",
          "summary"
        ],
        "additionalProperties": false
      },
      "ContentTotals": {
        "type": "object",
        "properties": {
          "added": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "modified": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "removed": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "added",
          "modified",
          "removed"
        ],
        "additionalProperties": false
      },
      "ContentTypeCount": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "item",
              "campaignChapter",
              "stage",
              "gameConfig"
            ]
          },
          "label": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "live": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "drafts": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "contentType",
          "label",
          "path",
          "live",
          "drafts"
        ],
        "additionalProperties": false
      },
      "ContentValidationResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string",
                  "enum": [
                    "error",
                    "warning"
                  ]
                },
                "contentType": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "severity",
                "contentType",
                "key",
                "message"
              ],
              "additionalProperties": false
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string",
                  "enum": [
                    "error",
                    "warning"
                  ]
                },
                "contentType": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "severity",
                "contentType",
                "key",
                "message"
              ],
              "additionalProperties": false
            }
          },
          "checked": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "ok",
          "errors",
          "warnings",
          "checked"
        ],
        "additionalProperties": false
      },
      "DeleteContentEntryResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "item",
              "campaignChapter",
              "stage",
              "gameConfig"
            ]
          },
          "pendingDelete": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "pendingDelete"
        ],
        "additionalProperties": false
      },
      "DiscardAllDraftsResponse": {
        "type": "object",
        "properties": {
          "discarded": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "discarded"
        ],
        "additionalProperties": false
      },
      "DiscardContentDraftResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "item",
              "campaignChapter",
              "stage",
              "gameConfig"
            ]
          },
          "discarded": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "discarded"
        ],
        "additionalProperties": false
      },
      "EnemyDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "archetype": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "element": {
            "type": "string",
            "enum": [
              "ember",
              "tide",
              "verdant",
              "mist"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "attack",
              "defense",
              "hp",
              "support"
            ]
          },
          "baseStats": {
            "type": "object",
            "properties": {
              "hp": {
                "type": "integer",
                "minimum": 100,
                "maximum": 60000
              },
              "atk": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "def": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "spd": {
                "type": "integer",
                "minimum": 50,
                "maximum": 200
              },
              "critRate": {
                "default": 15,
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "critDmg": {
                "default": 50,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "res": {
                "default": 30,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "acc": {
                "default": 0,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              }
            },
            "required": [
              "hp",
              "atk",
              "def",
              "spd",
              "critRate",
              "critDmg",
              "res",
              "acc"
            ],
            "additionalProperties": false
          },
          "growth": {
            "default": 1.045,
            "type": "number",
            "minimum": 1,
            "maximum": 1.2
          },
          "skills": {
            "minItems": 1,
            "maxItems": 5,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 64,
              "pattern": "^[a-z][a-z0-9_]*$"
            }
          },
          "assetKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "isBoss": {
            "default": false,
            "type": "boolean"
          },
          "bossMechanics": {
            "default": {
              "almightyImmunity": false,
              "tmReductionImmune": false
            },
            "type": "object",
            "properties": {
              "almightyImmunity": {
                "default": false,
                "type": "boolean"
              },
              "tmReductionImmune": {
                "default": false,
                "type": "boolean"
              },
              "hitShield": {
                "type": "object",
                "properties": {
                  "hits": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 30
                  },
                  "punishTmPct": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                },
                "required": [
                  "hits",
                  "punishTmPct"
                ],
                "additionalProperties": false
              },
              "thresholdRetaliation": {
                "type": "object",
                "properties": {
                  "perHpPct": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 50
                  },
                  "skipIfDot": {
                    "default": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "perHpPct",
                  "skipIfDot"
                ],
                "additionalProperties": false
              },
              "addSummon": {
                "type": "object",
                "properties": {
                  "unitKey": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "pattern": "^[a-z][a-z0-9_]*$"
                  },
                  "perTurn": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4
                  },
                  "cap": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "unitKey",
                  "perTurn",
                  "cap"
                ],
                "additionalProperties": false
              },
              "enrage": {
                "type": "object",
                "properties": {
                  "afterTurn": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 60
                  },
                  "dmgPctPerTurn": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 50
                  }
                },
                "required": [
                  "afterTurn",
                  "dmgPctPerTurn"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "almightyImmunity",
              "tmReductionImmune"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "archetype",
          "element",
          "role",
          "baseStats",
          "growth",
          "skills",
          "assetKey",
          "isBoss",
          "bossMechanics"
        ],
        "additionalProperties": false
      },
      "FactionDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "icon": {
            "default": "",
            "type": "string",
            "maxLength": 64
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "lore",
          "icon"
        ],
        "additionalProperties": false
      },
      "GameConfigDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64
          },
          "value": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              {
                "type": "array",
                "items": {}
              }
            ]
          },
          "group": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 96
          },
          "help": {
            "default": "",
            "type": "string",
            "maxLength": 400
          }
        },
        "required": [
          "key",
          "value",
          "group",
          "label",
          "help"
        ],
        "additionalProperties": false
      },
      "GearSetDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 600
          },
          "pieces": {
            "anyOf": [
              {
                "type": "number",
                "const": 2
              },
              {
                "type": "number",
                "const": 4
              }
            ]
          },
          "bonusType": {
            "type": "string",
            "enum": [
              "stat",
              "lifesteal",
              "regen",
              "provokeOnHit",
              "stunOnHit",
              "burnOnHit",
              "counterOnHit",
              "tmOnDamageTaken"
            ]
          },
          "bonus": {
            "type": "object",
            "properties": {
              "stat": {
                "type": "string",
                "enum": [
                  "hp",
                  "atk",
                  "def",
                  "spd",
                  "critRate",
                  "critDmg",
                  "res",
                  "acc"
                ]
              },
              "pct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "flat": {
                "type": "number",
                "minimum": 0,
                "maximum": 200
              },
              "chance": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "turns": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "lore",
          "pieces",
          "bonusType",
          "bonus"
        ],
        "additionalProperties": false
      },
      "GearSlotDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "weapon",
              "helm",
              "shield",
              "gauntlets",
              "cuirass",
              "boots",
              "ring",
              "amulet",
              "banner"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "allowedMainStats": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "hp",
                "atk",
                "def",
                "spd",
                "critRate",
                "critDmg",
                "res",
                "acc"
              ]
            }
          },
          "allowsPercentMain": {
            "default": false,
            "type": "boolean"
          },
          "accessory": {
            "default": false,
            "type": "boolean"
          },
          "ascensionRequired": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 6
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 99
          }
        },
        "required": [
          "key",
          "name",
          "allowedMainStats",
          "allowsPercentMain",
          "accessory",
          "ascensionRequired",
          "sortOrder"
        ],
        "additionalProperties": false
      },
      "GetContentEntryResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "item",
              "campaignChapter",
              "stage",
              "gameConfig"
            ]
          },
          "data": {},
          "live": {
            "anyOf": [
              {},
              {
                "type": "null"
              }
            ]
          },
          "hasDraft": {
            "type": "boolean"
          },
          "pendingDelete": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "data",
          "live",
          "hasDraft",
          "pendingDelete"
        ],
        "additionalProperties": false
      },
      "ItemDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "category": {
            "type": "string",
            "enum": [
              "sigil",
              "essence",
              "tome",
              "emblem",
              "consumable",
              "material"
            ]
          },
          "rarity": {
            "default": "common",
            "type": "string",
            "enum": [
              "common",
              "uncommon",
              "rare",
              "epic",
              "legendary"
            ]
          },
          "description": {
            "default": "",
            "type": "string",
            "maxLength": 400
          },
          "icon": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "payload": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "category",
          "rarity",
          "description",
          "icon",
          "payload"
        ],
        "additionalProperties": false
      },
      "ListContentEntriesResponse": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "item",
              "campaignChapter",
              "stage",
              "gameConfig"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentEntry"
            }
          }
        },
        "required": [
          "contentType",
          "items"
        ],
        "additionalProperties": false
      },
      "ListContentRevisionsResponse": {
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "revisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentRevisionSummary"
            }
          }
        },
        "required": [
          "current",
          "revisions"
        ],
        "additionalProperties": false
      },
      "ListContentTypesResponse": {
        "type": "object",
        "properties": {
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentTypeCount"
            }
          },
          "draftCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "types",
          "draftCount",
          "rev"
        ],
        "additionalProperties": false
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "accountName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 20,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "accountName",
          "password"
        ],
        "additionalProperties": false
      },
      "PublishContentRequest": {
        "type": "object",
        "properties": {
          "note": {
            "default": "",
            "type": "string",
            "maxLength": 400
          }
        },
        "required": [
          "note"
        ],
        "additionalProperties": false
      },
      "PublishResult": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "summary": {
            "$ref": "#/components/schemas/ContentTotals"
          },
          "validation": {
            "$ref": "#/components/schemas/ContentValidationResult"
          }
        },
        "required": [
          "rev",
          "summary",
          "validation"
        ],
        "additionalProperties": false
      },
      "RevertContentRequest": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "rev"
        ],
        "additionalProperties": false
      },
      "RevertContentResponse": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "rev"
        ],
        "additionalProperties": false
      },
      "SaveContentEntryRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "SaveContentEntryResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "item",
              "campaignChapter",
              "stage",
              "gameConfig"
            ]
          },
          "saved": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "saved"
        ],
        "additionalProperties": false
      },
      "SkillDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "description": {
            "default": "",
            "type": "string",
            "maxLength": 600
          },
          "slot": {
            "type": "string",
            "enum": [
              "a1",
              "a2",
              "a3",
              "a4",
              "passive"
            ]
          },
          "cooldown": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9
          },
          "targeting": {
            "type": "object",
            "properties": {
              "side": {
                "type": "string",
                "enum": [
                  "enemy",
                  "ally",
                  "self"
                ]
              },
              "mode": {
                "type": "string",
                "enum": [
                  "single",
                  "all",
                  "random",
                  "lowestHp",
                  "self"
                ]
              },
              "count": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4
              }
            },
            "required": [
              "side",
              "mode"
            ],
            "additionalProperties": false
          },
          "components": {
            "minItems": 1,
            "maxItems": 8,
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "damage"
                    },
                    "scale": {
                      "type": "string",
                      "enum": [
                        "atk",
                        "def",
                        "maxHp",
                        "spd"
                      ]
                    },
                    "mult": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 20
                    },
                    "hits": {
                      "default": 1,
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 6
                    },
                    "ignoreDefPct": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "element": {
                      "type": "string",
                      "enum": [
                        "ember",
                        "tide",
                        "verdant",
                        "mist"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "scale",
                    "mult",
                    "hits"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "applyStatus"
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    },
                    "turns": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 10
                    },
                    "target": {
                      "default": "hitTargets",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "status",
                    "turns",
                    "target"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "heal"
                    },
                    "scale": {
                      "type": "string",
                      "enum": [
                        "atk",
                        "def",
                        "maxHp",
                        "spd"
                      ]
                    },
                    "mult": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "target": {
                      "default": "self",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "scale",
                    "mult",
                    "target"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "shield"
                    },
                    "scale": {
                      "type": "string",
                      "enum": [
                        "atk",
                        "def",
                        "maxHp",
                        "spd"
                      ]
                    },
                    "mult": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 5
                    },
                    "turns": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 10
                    },
                    "target": {
                      "default": "self",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "scale",
                    "mult",
                    "turns",
                    "target"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "turnMeter"
                    },
                    "deltaPct": {
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    },
                    "target": {
                      "default": "hitTargets",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "deltaPct",
                    "target"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "cleanse"
                    },
                    "count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10
                        },
                        {
                          "type": "string",
                          "const": "all"
                        }
                      ]
                    },
                    "target": {
                      "default": "allAllies",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "count",
                    "target"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "dispel"
                    },
                    "count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10
                        },
                        {
                          "type": "string",
                          "const": "all"
                        }
                      ]
                    },
                    "target": {
                      "default": "hitTargets",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "count",
                    "target"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "extraTurn"
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "cooldown"
                    },
                    "delta": {
                      "type": "integer",
                      "minimum": -3,
                      "maximum": 3
                    },
                    "target": {
                      "default": "self",
                      "type": "string",
                      "enum": [
                        "hitTargets",
                        "self",
                        "allAllies",
                        "lowestHpAlly",
                        "randomAlly",
                        "allEnemies"
                      ]
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHasStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMissingStatus"
                            },
                            "status": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "type",
                            "status"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "alliesDead"
                            },
                            "atLeast": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 3
                            }
                          },
                          "required": [
                            "type",
                            "atLeast"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    },
                    "chance": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "type",
                    "delta",
                    "target"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "upgrades": {
            "default": [],
            "maxItems": 6,
            "type": "array",
            "items": {
[...]
