{
  "openapi": "3.1.0",
  "info": {
    "title": "Mistvale Admin API",
    "version": "0.1.0-ea.0",
    "description": "The Admin API the Mistvale Admin Suite consumes, plus the public content bundle it previews. Generated from the Zod contracts in @mistvale/shared — edit those, then run `pnpm openapi`."
  },
  "servers": [
    {
      "url": "https://play.pathlands.cc",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "admin",
      "description": "Admin Suite endpoints. Require the admin rank."
    },
    {
      "name": "content",
      "description": "Public content delivery."
    }
  ],
  "components": {
    "schemas": {
      "AccountSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "rank": {
            "type": "string",
            "enum": [
              "player",
              "gamemaster",
              "admin"
            ]
          },
          "forcePasswordChange": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "accountName",
          "rank",
          "forcePasswordChange"
        ],
        "additionalProperties": false
      },
      "AdminAccountState": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "string",
            "enum": [
              "player",
              "gamemaster",
              "admin"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "banned"
            ]
          },
          "banReason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "profileName": {
            "type": "string"
          }
        },
        "required": [
          "rank",
          "status",
          "banReason",
          "profileName"
        ],
        "additionalProperties": false
      },
      "AdminBanRequest": {
        "type": "object",
        "properties": {
          "banned": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 200
          }
        },
        "required": [
          "banned"
        ],
        "additionalProperties": false
      },
      "AdminEconomyEntry": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "deltas": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "number"
            }
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "source",
          "deltas",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "AdminGrantRequest": {
        "type": "object",
        "properties": {
          "silver": {
            "type": "integer",
            "minimum": -1000000000,
            "maximum": 1000000000
          },
          "crystals": {
            "type": "integer",
            "minimum": -1000000,
            "maximum": 1000000
          },
          "valorMedals": {
            "type": "integer",
            "minimum": -1000000,
            "maximum": 1000000
          },
          "playerXp": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000000
          },
          "items": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            }
          },
          "note": {
            "type": "string",
            "minLength": 3,
            "maxLength": 200
          }
        },
        "required": [
          "note"
        ],
        "additionalProperties": false
      },
      "AdminGrantResult": {
        "type": "object",
        "properties": {
          "applied": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "number"
            }
          },
          "levelsGained": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "newLevel": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "applied",
          "levelsGained",
          "newLevel"
        ],
        "additionalProperties": false
      },
      "AdminLoginResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountSummary"
          }
        },
        "required": [
          "account"
        ],
        "additionalProperties": false
      },
      "AdminLogoutResponse": {
        "type": "object",
        "properties": {
          "loggedOut": {
            "type": "boolean"
          }
        },
        "required": [
          "loggedOut"
        ],
        "additionalProperties": false
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountSummary"
          }
        },
        "required": [
          "account"
        ],
        "additionalProperties": false
      },
      "AdminOverview": {
        "type": "object",
        "properties": {
          "players": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "bots": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "activeToday": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "total",
              "bots",
              "activeToday"
            ],
            "additionalProperties": false
          },
          "accounts": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "admins": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "banned": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "total",
              "admins",
              "banned"
            ],
            "additionalProperties": false
          },
          "content": {
            "type": "object",
            "properties": {
              "rev": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "publishedAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "champions": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "skills": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "enemies": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "stages": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "rev",
              "publishedAt",
              "champions",
              "skills",
              "enemies",
              "stages"
            ],
            "additionalProperties": false
          },
          "recentAudit": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEntry"
            }
          }
        },
        "required": [
          "players",
          "accounts",
          "content",
          "recentAudit"
        ],
        "additionalProperties": false
      },
      "AdminPlayerDetail": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              },
              "rank": {
                "type": "string",
                "enum": [
                  "player",
                  "gamemaster",
                  "admin"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "banned"
                ]
              },
              "banReason": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "forcePasswordChange": {
                "type": "boolean"
              },
              "lastLoginAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "createdAt": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "accountName",
              "rank",
              "status",
              "banReason",
              "forcePasswordChange",
              "lastLoginAt",
              "createdAt"
            ],
            "additionalProperties": false
          },
          "player": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "profileName": {
                "type": "string"
              },
              "level": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "xp": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "silver": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "crystals": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "valorMedals": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "energy": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "energyCap": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "rosterCapacity": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "isBot": {
                "type": "boolean"
              },
              "createdAt": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "profileName",
              "level",
              "xp",
              "silver",
              "crystals",
              "valorMedals",
              "energy",
              "energyCap",
              "rosterCapacity",
              "isBot",
              "createdAt"
            ],
            "additionalProperties": false
          },
          "holdings": {
            "type": "object",
            "properties": {
              "champions": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "gear": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "itemStacks": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              }
            },
            "required": [
              "champions",
              "gear",
              "itemStacks"
            ],
            "additionalProperties": false
          },
          "progress": {
            "type": "object",
            "properties": {
              "stagesCleared": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "stars": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "totalClears": {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              "deepestFloors": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              }
            },
            "required": [
              "stagesCleared",
              "stars",
              "totalClears",
              "deepestFloors"
            ],
            "additionalProperties": false
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminSession"
            }
          },
          "economy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminEconomyEntry"
            }
          }
        },
        "required": [
          "account",
          "player",
          "holdings",
          "progress",
          "sessions",
          "economy"
        ],
        "additionalProperties": false
      },
      "AdminPlayerSearch": {
        "type": "object",
        "properties": {
          "players": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminPlayerSummary"
            }
          },
          "total": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "players",
          "total"
        ],
        "additionalProperties": false
      },
      "AdminPlayerSummary": {
        "type": "object",
        "properties": {
          "playerId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "profileName": {
            "type": "string"
          },
          "rank": {
            "type": "string",
            "enum": [
              "player",
              "gamemaster",
              "admin"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "banned"
            ]
          },
          "level": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "isBot": {
            "type": "boolean"
          },
          "lastLoginAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "playerId",
          "accountId",
          "accountName",
          "profileName",
          "rank",
          "status",
          "level",
          "isBot",
          "lastLoginAt",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "AdminRenameRequest": {
        "type": "object",
        "properties": {
          "profileName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 16,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9 _-]*[A-Za-z0-9]$"
          }
        },
        "required": [
          "profileName"
        ],
        "additionalProperties": false
      },
      "AdminResetPasswordResult": {
        "type": "object",
        "properties": {
          "temporaryPassword": {
            "type": "string"
          },
          "sessionsRevoked": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "temporaryPassword",
          "sessionsRevoked"
        ],
        "additionalProperties": false
      },
      "AdminSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "lastSeenAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string"
          },
          "ip": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "userAgent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "createdAt",
          "lastSeenAt",
          "expiresAt",
          "ip",
          "userAgent"
        ],
        "additionalProperties": false
      },
      "AdminSetRankRequest": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "string",
            "enum": [
              "player",
              "gamemaster",
              "admin"
            ]
          }
        },
        "required": [
          "rank"
        ],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "AUTH_REQUIRED",
              "FORBIDDEN",
              "VALIDATION",
              "INVALID_CREDENTIALS",
              "ALREADY_EXISTS",
              "NOT_FOUND",
              "INSUFFICIENT_FUNDS",
              "ENERGY_LOW",
              "ROSTER_FULL",
              "COOLDOWN",
              "LOCKED_CONTENT",
              "IDEMPOTENT_REPLAY",
              "RATE_LIMITED",
              "CONTENT_STALE",
              "ACCOUNT_BANNED",
              "PASSWORD_CHANGE_REQUIRED",
              "INTERNAL"
            ]
          },
          "message": {
            "type": "string"
          },
          "details": {},
          "requestId": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false
      },
      "AssetDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "kind": {
            "type": "string",
            "enum": [
              "unit",
              "vfx",
              "ui",
              "audio"
            ]
          },
          "source": {
            "default": "repo",
            "type": "string",
            "enum": [
              "repo",
              "upload"
            ]
          },
          "basePath": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "tracks": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "object",
              "properties": {
                "frames": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 64
                },
                "fps": {
                  "default": 9,
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 30
                },
                "loop": {
                  "default": false,
                  "type": "boolean"
                }
              },
              "required": [
                "frames",
                "fps",
                "loop"
              ],
              "additionalProperties": false
            }
          },
          "stillPath": {
            "default": "",
            "type": "string",
            "maxLength": 200
          },
          "avatarPath": {
            "default": "",
            "type": "string",
            "maxLength": 200
          },
          "tint": {
            "type": "string",
            "pattern": "^#[0-9a-fA-F]{6}$"
          }
        },
        "required": [
          "key",
          "sortOrder",
          "kind",
          "source",
          "basePath",
          "tracks",
          "stillPath",
          "avatarPath"
        ],
        "additionalProperties": false
      },
      "AuditEntry": {
        "type": "object",
        "properties": {
          "actor": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "entityId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "actor",
          "action",
          "entity",
          "entityId",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CampaignChapterDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "number": {
            "type": "integer",
            "minimum": 1,
            "maximum": 24
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "region": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "backgroundAsset": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "setKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "starRewards": {
            "default": [],
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stars": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 252
                },
                "rewards": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "number"
                  }
                }
              },
              "required": [
                "stars",
                "rewards"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "key",
          "sortOrder",
          "number",
          "name",
          "region",
          "lore",
          "backgroundAsset",
          "starRewards"
        ],
        "additionalProperties": false
      },
      "ChampionDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "factionKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "element": {
            "type": "string",
            "enum": [
              "ember",
              "tide",
              "verdant",
              "mist"
            ]
          },
          "rarity": {
            "type": "string",
            "enum": [
              "common",
              "uncommon",
              "rare",
              "epic",
              "legendary"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "attack",
              "defense",
              "hp",
              "support"
            ]
          },
          "baseStats": {
            "type": "object",
            "properties": {
              "hp": {
                "type": "integer",
                "minimum": 100,
                "maximum": 250000
              },
              "atk": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "def": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "spd": {
                "type": "integer",
                "minimum": 50,
                "maximum": 200
              },
              "critRate": {
                "default": 15,
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "critDmg": {
                "default": 50,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "res": {
                "default": 30,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "acc": {
                "default": 0,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              }
            },
            "required": [
              "hp",
              "atk",
              "def",
              "spd",
              "critRate",
              "critDmg",
              "res",
              "acc"
            ],
            "additionalProperties": false
          },
          "skills": {
            "minItems": 1,
            "maxItems": 5,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 64,
              "pattern": "^[a-z][a-z0-9_]*$"
            }
          },
          "aura": {
            "default": null,
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "stat": {
                    "type": "string",
                    "enum": [
                      "hp",
                      "atk",
                      "def",
                      "spd",
                      "critRate",
                      "critDmg",
                      "res",
                      "acc"
                    ]
                  },
                  "value": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "scope": {
                    "default": "all",
                    "type": "string",
                    "enum": [
                      "all",
                      "element",
                      "faction"
                    ]
                  },
                  "area": {
                    "default": "any",
                    "type": "string",
                    "enum": [
                      "any",
                      "campaign",
                      "arena",
                      "depths"
                    ]
                  }
                },
                "required": [
                  "stat",
                  "value",
                  "scope",
                  "area"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "assetKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "isFood": {
            "default": false,
            "type": "boolean"
          },
          "summonable": {
            "default": true,
            "type": "boolean"
          },
          "starter": {
            "default": false,
            "type": "boolean"
          },
          "balanceVersion": {
            "default": 1,
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "title",
          "lore",
          "factionKey",
          "element",
          "rarity",
          "role",
          "baseStats",
          "skills",
          "aura",
          "assetKey",
          "isFood",
          "summonable",
          "starter",
          "balanceVersion"
        ],
        "additionalProperties": false
      },
      "ContentBundle": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "factions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FactionDef"
            }
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDef"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SkillDef"
            }
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetDef"
            }
          },
          "champions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChampionDef"
            }
          },
          "enemies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnemyDef"
            }
          },
          "gearSets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GearSetDef"
            }
          },
          "gearSlots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GearSlotDef"
            }
          },
          "gearStats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GearStatDef"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemDef"
            }
          },
          "campaignChapters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignChapterDef"
            }
          },
          "dungeons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DungeonDef"
            }
          },
          "stages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StageDef"
            }
          },
          "summonPools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SummonPoolDef"
            }
          },
          "shops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShopDef"
            }
          },
          "masteries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MasteryDef"
            }
          },
          "quests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestDef"
            }
          },
          "missions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MissionDef"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventDef"
            }
          },
          "config": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                {
                  "type": "array",
                  "items": {}
                }
              ]
            }
          }
        },
        "required": [
          "rev",
          "publishedAt",
          "factions",
          "statuses",
          "skills",
          "assets",
          "champions",
          "enemies",
          "gearSets",
          "gearSlots",
          "gearStats",
          "items",
          "campaignChapters",
          "dungeons",
          "stages",
          "summonPools",
          "shops",
          "masteries",
          "quests",
          "missions",
          "events",
          "config"
        ],
        "additionalProperties": false
      },
      "ContentDiff": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentDiffEntry"
            }
          },
          "totals": {
            "$ref": "#/components/schemas/ContentTotals"
          }
        },
        "required": [
          "rev",
          "entries",
          "totals"
        ],
        "additionalProperties": false
      },
      "ContentDiffEntry": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "change": {
            "type": "string",
            "enum": [
              "added",
              "modified",
              "removed"
            ]
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "before": {},
                "after": {}
              },
              "required": [
                "path",
                "before",
                "after"
              ],
              "additionalProperties": false
            }
          },
          "risk": {
            "type": "string",
            "enum": [
              "rates",
              "balance",
              "economy"
            ]
          }
        },
        "required": [
          "contentType",
          "key",
          "change",
          "fields"
        ],
        "additionalProperties": false
      },
      "ContentEntry": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "state": {
            "type": "string",
            "enum": [
              "live",
              "draft",
              "deleting"
            ]
          },
          "updatedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "updatedBy": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "key",
          "data",
          "state",
          "updatedAt",
          "updatedBy"
        ],
        "additionalProperties": false
      },
      "ContentIssue": {
        "type": "object",
        "properties": {
          "severity": {
            "type": "string",
            "enum": [
              "error",
              "warning"
            ]
          },
          "contentType": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "severity",
          "contentType",
          "key",
          "message"
        ],
        "additionalProperties": false
      },
      "ContentRevisionSummary": {
        "type": "object",
        "properties": {
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "publishedAt": {
            "type": "string"
          },
          "publishedBy": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "summary": {
            "$ref": "#/components/schemas/ContentTotals"
          }
        },
        "required": [
          "rev",
          "publishedAt",
          "publishedBy",
          "note",
          "summary"
        ],
        "additionalProperties": false
      },
      "ContentTotals": {
        "type": "object",
        "properties": {
          "added": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "modified": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "removed": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "added",
          "modified",
          "removed"
        ],
        "additionalProperties": false
      },
      "ContentTypeCount": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "gearStat",
              "item",
              "campaignChapter",
              "dungeon",
              "stage",
              "summonPool",
              "shop",
              "mastery",
              "quest",
              "mission",
              "event",
              "gameConfig"
            ]
          },
          "label": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "live": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "drafts": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "contentType",
          "label",
          "path",
          "live",
          "drafts"
        ],
        "additionalProperties": false
      },
      "ContentValidationResult": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentIssue"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentIssue"
            }
          },
          "checked": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "ok",
          "errors",
          "warnings",
          "checked"
        ],
        "additionalProperties": false
      },
      "DeleteContentEntryResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "gearStat",
              "item",
              "campaignChapter",
              "dungeon",
              "stage",
              "summonPool",
              "shop",
              "mastery",
              "quest",
              "mission",
              "event",
              "gameConfig"
            ]
          },
          "pendingDelete": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "pendingDelete"
        ],
        "additionalProperties": false
      },
      "DiscardAllDraftsResponse": {
        "type": "object",
        "properties": {
          "discarded": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "discarded"
        ],
        "additionalProperties": false
      },
      "DiscardContentDraftResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "gearStat",
              "item",
              "campaignChapter",
              "dungeon",
              "stage",
              "summonPool",
              "shop",
              "mastery",
              "quest",
              "mission",
              "event",
              "gameConfig"
            ]
          },
          "discarded": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "discarded"
        ],
        "additionalProperties": false
      },
      "DungeonDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "kind": {
            "type": "string",
            "enum": [
              "relic",
              "proving",
              "springs"
            ]
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "region": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "backgroundAsset": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "tagline": {
            "default": "",
            "type": "string",
            "maxLength": 120
          },
          "floors": {
            "type": "integer",
            "minimum": 1,
            "maximum": 30
          },
          "setKeys": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 64,
              "pattern": "^[a-z][a-z0-9_]*$"
            }
          },
          "itemKeys": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 64,
              "pattern": "^[a-z][a-z0-9_]*$"
            }
          },
          "bossEnemyKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "openDays": {
            "default": [],
            "maxItems": 7,
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            }
          },
          "unlockLevel": {
            "default": 1,
            "type": "integer",
            "minimum": 1,
            "maximum": 60
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "kind",
          "lore",
          "region",
          "backgroundAsset",
          "tagline",
          "floors",
          "setKeys",
          "itemKeys",
          "openDays",
          "unlockLevel"
        ],
        "additionalProperties": false
      },
      "EnemyDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "archetype": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "element": {
            "type": "string",
            "enum": [
              "ember",
              "tide",
              "verdant",
              "mist"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "attack",
              "defense",
              "hp",
              "support"
            ]
          },
          "baseStats": {
            "type": "object",
            "properties": {
              "hp": {
                "type": "integer",
                "minimum": 100,
                "maximum": 250000
              },
              "atk": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "def": {
                "type": "integer",
                "minimum": 10,
                "maximum": 5000
              },
              "spd": {
                "type": "integer",
                "minimum": 50,
                "maximum": 200
              },
              "critRate": {
                "default": 15,
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "critDmg": {
                "default": 50,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "res": {
                "default": 30,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              },
              "acc": {
                "default": 0,
                "type": "integer",
                "minimum": 0,
                "maximum": 300
              }
            },
            "required": [
              "hp",
              "atk",
              "def",
              "spd",
              "critRate",
              "critDmg",
              "res",
              "acc"
            ],
            "additionalProperties": false
          },
          "anchorLevel": {
            "default": 60,
            "type": "integer",
            "minimum": 1,
            "maximum": 120
          },
          "growth": {
            "default": 1.045,
            "type": "number",
            "minimum": 1,
            "maximum": 1.2
          },
          "skills": {
            "minItems": 1,
            "maxItems": 5,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 2,
              "maxLength": 64,
              "pattern": "^[a-z][a-z0-9_]*$"
            }
          },
          "assetKey": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "isBoss": {
            "default": false,
            "type": "boolean"
          },
          "bossMechanics": {
            "default": {
              "almightyImmunity": false,
              "tmReductionImmune": false
            },
            "type": "object",
            "properties": {
              "almightyImmunity": {
                "default": false,
                "type": "boolean"
              },
              "tmReductionImmune": {
                "default": false,
                "type": "boolean"
              },
              "hitShield": {
                "type": "object",
                "properties": {
                  "hits": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 30
                  },
                  "punishTmPct": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                },
                "required": [
                  "hits",
                  "punishTmPct"
                ],
                "additionalProperties": false
              },
              "thresholdRetaliation": {
                "type": "object",
                "properties": {
                  "perHpPct": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 50
                  },
                  "skipIfDot": {
                    "default": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "perHpPct",
                  "skipIfDot"
                ],
                "additionalProperties": false
              },
              "addSummon": {
                "type": "object",
                "properties": {
                  "unitKey": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 64,
                    "pattern": "^[a-z][a-z0-9_]*$"
                  },
                  "perTurn": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 4
                  },
                  "cap": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  }
                },
                "required": [
                  "unitKey",
                  "perTurn",
                  "cap"
                ],
                "additionalProperties": false
              },
              "enrage": {
                "type": "object",
                "properties": {
                  "afterTurn": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 60
                  },
                  "dmgPctPerTurn": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 50
                  }
                },
                "required": [
                  "afterTurn",
                  "dmgPctPerTurn"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "almightyImmunity",
              "tmReductionImmune"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "archetype",
          "element",
          "role",
          "baseStats",
          "anchorLevel",
          "growth",
          "skills",
          "assetKey",
          "isBoss",
          "bossMechanics"
        ],
        "additionalProperties": false
      },
      "EventDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "description": {
            "default": "",
            "type": "string",
            "maxLength": 400
          },
          "bannerAsset": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "schedule": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "window"
                  },
                  "startsAt": {
                    "type": "string"
                  },
                  "endsAt": {
                    "type": "string"
                  }
                },
                "required": [
                  "kind",
                  "startsAt",
                  "endsAt"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "const": "weekly"
                  },
                  "startWeekday": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 6
                  },
                  "durationDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 7
                  }
                },
                "required": [
                  "kind",
                  "startWeekday",
                  "durationDays"
                ],
                "additionalProperties": false
              }
            ]
          },
          "pointRules": {
            "minItems": 1,
            "maxItems": 12,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "battleWin",
                    "stageClear",
                    "bossKill",
                    "useEnergy",
                    "summon",
                    "gearUpgrade",
                    "gearLevel",
                    "championLevelUp",
                    "championRankUp",
                    "championAscend",
                    "masteryLearn",
                    "shopPurchase",
                    "arenaBattle",
                    "arenaWin",
                    "arenaTier",
                    "chapterStars",
                    "dungeonClear",
                    "accountLevel",
                    "claimAllDailies",
                    "championObtained"
                  ]
                },
                "filters": {
                  "default": {},
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ]
                  }
                },
                "points": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100000
                },
                "label": {
                  "default": "",
                  "type": "string",
                  "maxLength": 96
                }
              },
              "required": [
                "type",
                "filters",
                "points",
                "label"
              ],
              "additionalProperties": false
            }
          },
          "milestones": {
            "minItems": 1,
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "points": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "rewards": {
                  "default": {},
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "number"
                  }
                }
              },
              "required": [
                "points",
                "rewards"
              ],
              "additionalProperties": false
            }
          },
          "unlockLevel": {
            "default": 1,
            "type": "integer",
            "minimum": 1,
            "maximum": 60
          },
          "active": {
            "default": true,
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "description",
          "bannerAsset",
          "schedule",
          "pointRules",
          "milestones",
          "unlockLevel",
          "active"
        ],
        "additionalProperties": false
      },
      "FactionDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 2000
          },
          "icon": {
            "default": "",
            "type": "string",
            "maxLength": 64
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "lore",
          "icon"
        ],
        "additionalProperties": false
      },
      "GameConfigDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64
          },
          "value": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              {
                "type": "array",
                "items": {}
              }
            ]
          },
          "group": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 96
          },
          "help": {
            "default": "",
            "type": "string",
            "maxLength": 400
          }
        },
        "required": [
          "key",
          "value",
          "group",
          "label",
          "help"
        ],
        "additionalProperties": false
      },
      "GearSetDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "lore": {
            "default": "",
            "type": "string",
            "maxLength": 600
          },
          "pieces": {
            "anyOf": [
              {
                "type": "number",
                "const": 2
              },
              {
                "type": "number",
                "const": 4
              }
            ]
          },
          "bonusType": {
            "type": "string",
            "enum": [
              "stat",
              "lifesteal",
              "regen",
              "provokeOnHit",
              "stunOnHit",
              "burnOnHit",
              "counterOnHit",
              "tmOnDamageTaken"
            ]
          },
          "bonus": {
            "type": "object",
            "properties": {
              "stat": {
                "type": "string",
                "enum": [
                  "hp",
                  "atk",
                  "def",
                  "spd",
                  "critRate",
                  "critDmg",
                  "res",
                  "acc"
                ]
              },
              "pct": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "flat": {
                "type": "number",
                "minimum": 0,
                "maximum": 200
              },
              "chance": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "turns": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "lore",
          "pieces",
          "bonusType",
          "bonus"
        ],
        "additionalProperties": false
      },
      "GearSlotDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "weapon",
              "helm",
              "shield",
              "gauntlets",
              "cuirass",
              "boots",
              "ring",
              "amulet",
              "banner"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "allowedMainStats": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "hp",
                "atk",
                "def",
                "spd",
                "critRate",
                "critDmg",
                "res",
                "acc"
              ]
            }
          },
          "allowsPercentMain": {
            "default": false,
            "type": "boolean"
          },
          "accessory": {
            "default": false,
            "type": "boolean"
          },
          "ascensionRequired": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 6
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 99
          }
        },
        "required": [
          "key",
          "name",
          "allowedMainStats",
          "allowsPercentMain",
          "accessory",
          "ascensionRequired",
          "sortOrder"
        ],
        "additionalProperties": false
      },
      "GearStatDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32
          },
          "stat": {
            "type": "string",
            "enum": [
              "hp",
              "atk",
              "def",
              "spd",
              "critRate",
              "critDmg",
              "res",
              "acc"
            ]
          },
          "percent": {
            "default": false,
            "type": "boolean"
          },
          "canBeMain": {
            "default": true,
            "type": "boolean"
          },
          "canBeSub": {
            "default": true,
            "type": "boolean"
          },
          "mainBase": {
            "minItems": 6,
            "maxItems": 6,
            "type": "array",
            "items": {
              "type": "number",
              "minimum": 0
            }
          },
          "mainMax": {
            "minItems": 6,
            "maxItems": 6,
            "type": "array",
            "items": {
              "type": "number",
              "minimum": 0
            }
          },
          "subMin": {
            "minItems": 6,
            "maxItems": 6,
            "type": "array",
            "items": {
              "type": "number",
              "minimum": 0
            }
          },
          "subMax": {
            "minItems": 6,
            "maxItems": 6,
            "type": "array",
            "items": {
              "type": "number",
              "minimum": 0
            }
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "stat",
          "percent",
          "canBeMain",
          "canBeSub",
          "mainBase",
          "mainMax",
          "subMin",
          "subMax"
        ],
        "additionalProperties": false
      },
      "GetArenaBotCensusResponse": {
        "type": "object",
        "properties": {
          "bands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "band": {
                  "type": "string",
                  "enum": [
                    "bronze",
                    "silver",
                    "gold",
                    "platinum"
                  ]
                },
                "wanted": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "present": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ratingMin": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "ratingMax": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                }
              },
              "required": [
                "band",
                "wanted",
                "present",
                "ratingMin",
                "ratingMax"
              ],
              "additionalProperties": false
            }
          },
          "total": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "refreshedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "bands",
          "total",
          "refreshedAt"
        ],
        "additionalProperties": false
      },
      "GetContentEntryResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "gearStat",
              "item",
              "campaignChapter",
              "dungeon",
              "stage",
              "summonPool",
              "shop",
              "mastery",
              "quest",
              "mission",
              "event",
              "gameConfig"
            ]
          },
          "data": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "live": {
            "anyOf": [
              {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {}
              },
              {
                "type": "null"
              }
            ]
          },
          "hasDraft": {
            "type": "boolean"
          },
          "pendingDelete": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "contentType",
          "data",
          "live",
          "hasDraft",
          "pendingDelete"
        ],
        "additionalProperties": false
      },
      "ItemDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "category": {
            "type": "string",
            "enum": [
              "sigil",
              "essence",
              "tome",
              "emblem",
              "consumable",
              "material"
            ]
          },
          "rarity": {
            "default": "common",
            "type": "string",
            "enum": [
              "common",
              "uncommon",
              "rare",
              "epic",
              "legendary"
            ]
          },
          "description": {
            "default": "",
            "type": "string",
            "maxLength": 400
          },
          "icon": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "payload": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "key",
          "sortOrder",
          "name",
          "category",
          "rarity",
          "description",
          "icon",
          "payload"
        ],
        "additionalProperties": false
      },
      "ListContentEntriesResponse": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "faction",
              "status",
              "skill",
              "asset",
              "champion",
              "enemy",
              "gearSet",
              "gearSlot",
              "gearStat",
              "item",
              "campaignChapter",
              "dungeon",
              "stage",
              "summonPool",
              "shop",
              "mastery",
              "quest",
              "mission",
              "event",
              "gameConfig"
            ]
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentEntry"
            }
          }
        },
        "required": [
          "contentType",
          "items"
        ],
        "additionalProperties": false
      },
      "ListContentRevisionsResponse": {
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "revisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentRevisionSummary"
            }
          }
        },
        "required": [
          "current",
          "revisions"
        ],
        "additionalProperties": false
      },
      "ListContentTypesResponse": {
        "type": "object",
        "properties": {
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentTypeCount"
            }
          },
          "draftCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "rev": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "types",
          "draftCount",
          "rev"
        ],
        "additionalProperties": false
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "accountName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 20,
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "accountName",
          "password"
        ],
        "additionalProperties": false
      },
      "MasteryDef": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "sortOrder": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9999
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 48
          },
          "description": {
            "default": "",
            "type": "string",
            "maxLength": 400
          },
          "tree": {
            "type": "string",
            "enum": [
              "onslaught",
              "bulwark",
              "insight"
            ]
          },
          "tier": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6
          },
          "icon": {
            "default": "",
            "type": "string",
            "maxLength": 64
          },
          "effects": {
            "minItems": 1,
            "maxItems": 4,
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "stat"
                    },
                    "stat": {
                      "type": "string",
                      "enum": [
                        "hp",
                        "atk",
                        "def",
                        "spd",
                        "critRate",
                        "critDmg",
                        "res",
                        "acc"
                      ]
                    },
                    "flat": {
                      "default": 0,
                      "type": "number",
                      "minimum": -500,
                      "maximum": 5000
                    },
                    "pct": {
                      "default": 0,
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetShielded"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetCrowdControlled"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMaxHpAbove"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "perOwnDebuff"
                            },
                            "maxStacks": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10
                            }
                          },
                          "required": [
                            "type",
                            "maxStacks"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "perLivingEnemy"
                            },
                            "maxStacks": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10
                            }
                          },
                          "required": [
                            "type",
                            "maxStacks"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHasNoBuffs"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "aoeSkill"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "mode"
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "arena"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "stat",
                    "flat",
                    "pct"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "damageDealt"
                    },
                    "pct": {
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetShielded"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetCrowdControlled"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMaxHpAbove"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "perOwnDebuff"
                            },
                            "maxStacks": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10
                            }
                          },
                          "required": [
                            "type",
                            "maxStacks"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "perLivingEnemy"
                            },
                            "maxStacks": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10
                            }
                          },
                          "required": [
                            "type",
                            "maxStacks"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHasNoBuffs"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "aoeSkill"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "mode"
                            },
                            "mode": {
                              "type": "string",
                              "enum": [
                                "arena"
                              ]
                            }
                          },
                          "required": [
                            "type",
                            "mode"
                          ],
                          "additionalProperties": false
                        }
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "pct"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "damageTaken"
                    },
                    "pct": {
                      "type": "number",
                      "minimum": -100,
                      "maximum": 100
                    },
                    "condition": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetShielded"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetCrowdControlled"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "targetMaxHpAbove"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHpBelow"
                            },
                            "pct": {
                              "type": "number",
                              "minimum": 1,
                              "maximum": 100
                            }
                          },
                          "required": [
                            "type",
                            "pct"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "perOwnDebuff"
                            },
                            "maxStacks": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10
                            }
                          },
                          "required": [
                            "type",
                            "maxStacks"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "perLivingEnemy"
                            },
                            "maxStacks": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10
                            }
                          },
                          "required": [
                            "type",
                            "maxStacks"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "selfHasNoBuffs"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "const": "aoeSkill"
                            }
                          },
                          "required": [
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
[...]
